.card {
    background: #fff;
    border-color: black;
    display: inline-block;
    height: 147px;
    position: relative;
    width: 232px;
    top: 12px;
    margin: 0%;
    left:0%;
}
.card,
.card-1,
.card-2,
.card-3,
.card-4 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


@media screen and (max-width:2560px){
.card {
    background: #fff;
    border-color: black;
    display: inline-block;
    height: 147px;
    position: relative;
    width: 352px;
    margin: 0%;
    left: 5%;
    top: 12px;
}
.card,
.card-1,
.card-2,
.card-3,
.card-4 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

}

@media screen and (max-width:1920px){
.card {
    background: #fff;
    border-color: black;
    display: inline-block;
    height: 147px;
    position: relative;
    width: 319px;
    margin: 0%;
    left: 1%;
    top: 12px;
}
.card,
.card-1,
.card-2,
.card-3,
.card-4 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

}

@media screen and (max-width:1680px){
.card {
    background: #fff;
    border-color: black;
    display: inline-block;
    height: 147px;
    position: relative;
    width: 293px;
    margin: 0%;
    left: -1%;
    top: 12px;
}
.card,
.card-1,
.card-2,
.card-3,
.card-4 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

}

@media screen and (max-width:1600px){
.card {
    background: #fff;
    border-color: black;
    display: inline-block;
    height: 147px;
    position: relative;
    width: 285px;
    margin: 0%;
    left: 0%;
    top: 12px;
}
.card,
.card-1,
.card-2,
.card-3,
.card-4 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

}

@media screen and (max-width:1440px){
.card {
    background: #fff;
    border-color: black;
    display: inline-block;
    height: 147px;
    position: relative;
    width: 270px;
    margin: 0%;
    left: -5%;
    top: 12px;
}
.card,
.card-1,
.card-2,
.card-3,
.card-4 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

}

@media screen and (max-width:1366px){
.card {
    background: #fff;
    border-color: black;
    display: inline-block;
    height: 119px;
    position: relative;
    width: 254px;
    margin: 0%;
    left: -5%;
    top: 12px;
}
.card,
.card-1,
.card-2,
.card-3,
.card-4 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

}


@media screen and (max-width:1280px){
.card {
    background: #fff;
    border-color: black;
    display: inline-block;
    height: 147px;
    position: relative;
    width: 254px;
    margin: 0%;
    left: -7%;
    top: 12px;
}

.card,
.card-1,
.card-2,
.card-3,
.card-4 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

}

@media screen and (max-width:1024px){
.card {
    background: #fff;
    border-color: black;
    display: inline-block;
    height: 147px;
    position: relative;
    width: 201px;
    margin: 0%;
    left: -7%;
    top: 12px;
}
.card,
.card-1,
.card-2,
.card-3,
.card-4 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

}