
.dataTables_length {
    /* margin: auto; */
    margin-left: -69%;
    margin-top: -17px;


.dataTables_filter {
    position: relative;
    margin-left: 42%;
    margin-top: -39px;
    padding: 18px;
}
@-moz-document url-prefix(){
.dataTables_length {
    margin-left: -69%;
    margin-top: -29px;
}


.dataTables_filter {
    position: relative;
    margin-left: 41%;
    margin-top: -39px;
    padding: 18px;
}
}
.dataTables_info{
  margin-left: -67%;
}

button.mdl-button.mdl-button--raised.mdl-button--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255);
}
