

@media screen and (max-width:2560px){
.dataTables_length {
    margin-left: -33%;
    margin-top: -29px;
}


.dataTables_filter {
    position: relative;
    margin-left: 44%;
    margin-top: -53px;
    padding: 18px;
}

@-moz-document url-prefix(){
.dataTables_length {
    margin-left: -42%;
    margin-top: -40px;
}


.dataTables_filter {
    position: relative;
    margin-left: 41%;
    margin-top: -56px;
    padding: 18px;
}
}

.dataTables_info {
    margin-left: -7%;
}

button.mdl-button.mdl-button--raised.mdl-button--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255);
}
}
@media screen and (max-width:1920px){
.dataTables_length {
    margin-left: -33%;
    margin-top: -29px;
}


.dataTables_filter {
    position: relative;
    margin-left: 44%;
    margin-top: -53px;
    padding: 18px;
}

@-moz-document url-prefix(){
.dataTables_length {
    margin-left: -34%;
    margin-top: -40px;
}



.dataTables_filter {
    position: relative;
    margin-left: 41%;
    margin-top: -56px;
    padding: 18px;
}
}

.dataTables_info {
    margin-left: -7%;
}

button.mdl-button.mdl-button--raised.mdl-button--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255);
}
}
@media screen and (max-width:1680px){
.dataTables_length {
    margin-left: -33%;
    margin-top: -29px;
}


.dataTables_filter {
    position: relative;
    margin-left: 44%;
    margin-top: -53px;
    padding: 18px;
}

@-moz-document url-prefix(){
.dataTables_length {
    margin-left: -28%;
    margin-top: -40px;
}


.dataTables_filter {
    position: relative;
    margin-left: 41%;
    margin-top: -56px;
    padding: 18px;
}
}

.dataTables_info {
    margin-left: -7%;
}

button.mdl-button.mdl-button--raised.mdl-button--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255);
}

}
@media screen and (max-width:1600px){

.dataTables_length {
    margin-left: -33%;
    margin-top: -29px;

}


.dataTables_filter {
    position: relative;
    margin-left: 44%;
    margin-top: -53px;
    padding: 18px;
}

@-moz-document url-prefix(){
.dataTables_length {
    margin-left: -28%;
    margin-top: -40px;
}


.dataTables_filter {
    position: relative;
    margin-left: 41%;
    margin-top: -56px;
    padding: 18px;
}

}

.dataTables_info {
    margin-left: -7%;
}

button.mdl-button.mdl-button--raised.mdl-button--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255);
}
}
@media screen and (max-width:1440px){
.dataTables_length {
    margin-left: -27%;
    margin-top: -29px;
}


.dataTables_filter {
    position: relative;
    margin-left: 44%;
    margin-top: -53px;
    padding: 18px;
}

@-moz-document url-prefix(){
.dataTables_length {
    margin-left: -23%;
    margin-top: -40px;
}

.dataTables_filter {
    position: relative;
    margin-left: 41%;
    margin-top: -56px;
    padding: 18px;
}
}

.dataTables_info {
    margin-left: -7%;
}

button.mdl-button.mdl-button--raised.mdl-button--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255);
}}

@media screen and (max-width:1366px){
.dataTables_length {
    margin-left: -26%;


    margin-top: -29px;
}


.dataTables_filter {
    position: relative;
    margin-left: 44%;
    margin-top: -53px;
    padding: 18px;
}

@-moz-document url-prefix(){
.dataTables_length {
    margin-left: -23%;
    margin-top: -40px;
}

.dataTables_filter {
    position: relative;
    margin-left: 41%;
    margin-top: -56px;
    padding: 18px;
}

}

.dataTables_info {
    margin-left: -7%;
}

button.mdl-button.mdl-button--raised.mdl-button--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255);

}}

@media screen and (max-width:1280px){

.dataTables_length {
    margin-left: -33%;
    margin-top: -29px;
}


.dataTables_filter {
    position: relative;
    margin-left: 44%;
    margin-top: -53px;
    padding: 18px;
}

@-moz-document url-prefix(){
.dataTables_length {
    margin-left: -30%;
    margin-top: -40px;
}

.dataTables_filter {
    position: relative;
    margin-left: 41%;
    margin-top: -56px;
    padding: 18px;
}

}

.dataTables_info {
    margin-left: -7%;
}

button.mdl-button.mdl-button--raised.mdl-button--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255);
}}

@media screen and (max-width:1366px){
.dataTables_length {
    margin-left: -33%;

    margin-top: -29px;
}


.dataTables_filter {
    position: relative;
    margin-left: 44%;
    margin-top: -53px;
    padding: 18px;
}

@-moz-document url-prefix(){
.dataTables_length {
    margin-left: -23%;
    margin-top: -40px;
}

.dataTables_filter {
    position: relative;
    margin-left: 41%;
    margin-top: -56px;
    padding: 18px;
}

}
.dataTables_info {
    margin-left: -7%;
}

button.mdl-button.mdl-button--raised.mdl-button--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255);
}}

@media screen and (max-width:1280px){
.dataTables_length {
    margin-left: -33%;
    margin-top: -29px;
}


.dataTables_filter {
    position: relative;
    margin-left: 44%;
    margin-top: -53px;
    padding: 18px;
}

@-moz-document url-prefix(){
.dataTables_length {
    margin-left: -30%;
    margin-top: -40px;
}

.dataTables_filter {
    position: relative;
    margin-left: 41%;
    margin-top: -56px;
    padding: 18px;
}

}

.dataTables_info {
    margin-left: -7%;
}

button.mdl-button.mdl-button--raised.mdl-button--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255);



}




